## Pandas-tehtävät OSA 2

#### Lue edellisen harjoituksen lopussa tallennetun data_export.csv-tiedoston sisältö dataframeen

In [23]:
import pandas as pd
df=pd.read_csv("/Users/kayttaja/Desktop/JAMK/harjoitukset/data_export.csv")
df

    Unnamed: 0   sarake1   sarake2   sarake3
0          NaN  0.319219  0.380058  0.919389
1          1.0  0.922251  0.490721  0.133932
2          2.0  0.073746  0.929162  0.962745
3          3.0  0.363707  0.878349  0.485700
4          4.0  0.106903  0.714651  0.039953
5          5.0  0.196788  0.232740  0.879700
6          6.0  0.323134  0.036466  0.186775
7          7.0  0.467610  0.850993  0.377558
8          8.0  0.303299  0.096971  0.451031
9          9.0  0.733485  0.591996  0.658924
10        10.0  0.641628  0.251886  0.274987
11        11.0  0.154682  0.504352  0.557231
12        12.0  0.319906  0.489200  0.990319
13        13.0  0.780267  0.458454  0.053428
14        14.0  0.023112  0.456483  0.378360
15        15.0  0.935875  0.698276  0.446885
16        16.0  0.113171  0.585910  0.026875
17        17.0  0.273193  0.300307  0.768270
18        18.0  0.467060  0.225161  0.911570
19        19.0  0.007302  0.005471  0.790344
20        20.0  0.300589  0.455980  0.292225
21        21.0  0.859970  0.346539  0.364629
22        22.0  0.842364  0.093485  0.662066
23        23.0  0.781693  0.573344  0.815692
24        24.0  0.788949  0.945625  0.852690

#### Pudota rivit, joissa esiintyy nan-arvo

In [24]:
df=df.dropna(axis=0)
df

    Unnamed: 0   sarake1   sarake2   sarake3
1          1.0  0.922251  0.490721  0.133932
2          2.0  0.073746  0.929162  0.962745
3          3.0  0.363707  0.878349  0.485700
4          4.0  0.106903  0.714651  0.039953
5          5.0  0.196788  0.232740  0.879700
6          6.0  0.323134  0.036466  0.186775
7          7.0  0.467610  0.850993  0.377558
8          8.0  0.303299  0.096971  0.451031
9          9.0  0.733485  0.591996  0.658924
10        10.0  0.641628  0.251886  0.274987
11        11.0  0.154682  0.504352  0.557231
12        12.0  0.319906  0.489200  0.990319
13        13.0  0.780267  0.458454  0.053428
14        14.0  0.023112  0.456483  0.378360
15        15.0  0.935875  0.698276  0.446885
16        16.0  0.113171  0.585910  0.026875
17        17.0  0.273193  0.300307  0.768270
18        18.0  0.467060  0.225161  0.911570
19        19.0  0.007302  0.005471  0.790344
20        20.0  0.300589  0.455980  0.292225
21        21.0  0.859970  0.346539  0.364629
22        22.0  0.842364  0.093485  0.662066
23        23.0  0.781693  0.573344  0.815692
24        24.0  0.788949  0.945625  0.852690

#### Muuta viidennen ja kymmenennen rivin kaikiksi arvoiksi nan

In [25]:
import numpy as np
df.iloc[5,:]=np.nan
df.iloc[10,:]=np.nan
df

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    Unnamed: 0   sarake1   sarake2   sarake3
1          1.0  0.922251  0.490721  0.133932
2          2.0  0.073746  0.929162  0.962745
3          3.0  0.363707  0.878349  0.485700
4          4.0  0.106903  0.714651  0.039953
5          5.0  0.196788  0.232740  0.879700
6          NaN       NaN       NaN       NaN
7          7.0  0.467610  0.850993  0.377558
8          8.0  0.303299  0.096971  0.451031
9          9.0  0.733485  0.591996  0.658924
10        10.0  0.641628  0.251886  0.274987
11         NaN       NaN       NaN       NaN
12        12.0  0.319906  0.489200  0.990319
13        13.0  0.780267  0.458454  0.053428
14        14.0  0.023112  0.456483  0.378360
15        15.0  0.935875  0.698276  0.446885
16        16.0  0.113171  0.585910  0.026875
17        17.0  0.273193  0.300307  0.768270
18        18.0  0.467060  0.225161  0.911570
19        19.0  0.007302  0.005471  0.790344
20        20.0  0.300589  0.455980  0.292225
21        21.0  0.859970  0.346539  0.364629
22        22.0  0.842364  0.093485  0.662066
23        23.0  0.781693  0.573344  0.815692
24        24.0  0.788949  0.945625  0.852690

#### Tulosta nan-arvojen määrä jokaisesta sarakkeesta DataFrame-objektista

In [26]:
df.isnull().sum()

Unnamed: 0    2
sarake1       2
sarake2       2
sarake3       2
dtype: int64

#### Täytä edellä tehdyt nan-arvot lineaarisella interpolaatiolla

In [27]:
df.interpolate(method="linear", inplace=True)
df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    Unnamed: 0   sarake1   sarake2   sarake3
1          1.0  0.922251  0.490721  0.133932
2          2.0  0.073746  0.929162  0.962745
3          3.0  0.363707  0.878349  0.485700
4          4.0  0.106903  0.714651  0.039953
5          5.0  0.196788  0.232740  0.879700
6          6.0  0.332199  0.541866  0.628629
7          7.0  0.467610  0.850993  0.377558
8          8.0  0.303299  0.096971  0.451031
9          9.0  0.733485  0.591996  0.658924
10        10.0  0.641628  0.251886  0.274987
11        11.0  0.480767  0.370543  0.632653
12        12.0  0.319906  0.489200  0.990319
13        13.0  0.780267  0.458454  0.053428
14        14.0  0.023112  0.456483  0.378360
15        15.0  0.935875  0.698276  0.446885
16        16.0  0.113171  0.585910  0.026875
17        17.0  0.273193  0.300307  0.768270
18        18.0  0.467060  0.225161  0.911570
19        19.0  0.007302  0.005471  0.790344
20        20.0  0.300589  0.455980  0.292225
21        21.0  0.859970  0.346539  0.364629
22        22.0  0.842364  0.093485  0.662066
23        23.0  0.781693  0.573344  0.815692
24        24.0  0.788949  0.945625  0.852690

#### Vaihda `sarake1`:n viimeiseksi arvoksi 94 ja `sarake3`:n viimeiseksi arvoksi 45

In [28]:
df.iloc[23,1]=94
df.iloc[23,3]=45
df

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    Unnamed: 0    sarake1   sarake2    sarake3
1          1.0   0.922251  0.490721   0.133932
2          2.0   0.073746  0.929162   0.962745
3          3.0   0.363707  0.878349   0.485700
4          4.0   0.106903  0.714651   0.039953
5          5.0   0.196788  0.232740   0.879700
6          6.0   0.332199  0.541866   0.628629
7          7.0   0.467610  0.850993   0.377558
8          8.0   0.303299  0.096971   0.451031
9          9.0   0.733485  0.591996   0.658924
10        10.0   0.641628  0.251886   0.274987
11        11.0   0.480767  0.370543   0.632653
12        12.0   0.319906  0.489200   0.990319
13        13.0   0.780267  0.458454   0.053428
14        14.0   0.023112  0.456483   0.378360
15        15.0   0.935875  0.698276   0.446885
16        16.0   0.113171  0.585910   0.026875
17        17.0   0.273193  0.300307   0.768270
18        18.0   0.467060  0.225161   0.911570
19        19.0   0.007302  0.005471   0.790344
20        20.0   0.300589  0.455980   0.292225
21        21.0   0.859970  0.346539   0.364629
22        22.0   0.842364  0.093485   0.662066
23        23.0   0.781693  0.573344   0.815692
24        24.0  94.000000  0.945625  45.000000

#### Lisää uusi sarake DataFrame-objektiin (`sarake4`), joka koostuu sarakkeiden `sarake1` ja `sarake3` summasta

In [29]:
df["sarake4"]= df["sarake1"]+df["sarake3"]
df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    Unnamed: 0    sarake1   sarake2    sarake3     sarake4
1          1.0   0.922251  0.490721   0.133932    1.056182
2          2.0   0.073746  0.929162   0.962745    1.036491
3          3.0   0.363707  0.878349   0.485700    0.849407
4          4.0   0.106903  0.714651   0.039953    0.146856
5          5.0   0.196788  0.232740   0.879700    1.076488
6          6.0   0.332199  0.541866   0.628629    0.960828
7          7.0   0.467610  0.850993   0.377558    0.845168
8          8.0   0.303299  0.096971   0.451031    0.754330
9          9.0   0.733485  0.591996   0.658924    1.392409
10        10.0   0.641628  0.251886   0.274987    0.916615
11        11.0   0.480767  0.370543   0.632653    1.113420
12        12.0   0.319906  0.489200   0.990319    1.310225
13        13.0   0.780267  0.458454   0.053428    0.833695
14        14.0   0.023112  0.456483   0.378360    0.401472
15        15.0   0.935875  0.698276   0.446885    1.382760
16        16.0   0.113171  0.585910   0.026875    0.140045
17        17.0   0.273193  0.300307   0.768270    1.041463
18        18.0   0.467060  0.225161   0.911570    1.378630
19        19.0   0.007302  0.005471   0.790344    0.797646
20        20.0   0.300589  0.455980   0.292225    0.592814
21        21.0   0.859970  0.346539   0.364629    1.224599
22        22.0   0.842364  0.093485   0.662066    1.504430
23        23.0   0.781693  0.573344   0.815692    1.597386
24        24.0  94.000000  0.945625  45.000000  139.000000

#### Resetoi DataFrame-objektin indeksi ja tulosta rivien määrä

In [30]:
df.reset_index(drop=True, inplace=True)
df.drop("Unnamed: 0", axis = 1,inplace = True)
df

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      sarake1   sarake2    sarake3     sarake4
0    0.922251  0.490721   0.133932    1.056182
1    0.073746  0.929162   0.962745    1.036491
2    0.363707  0.878349   0.485700    0.849407
3    0.106903  0.714651   0.039953    0.146856
4    0.196788  0.232740   0.879700    1.076488
5    0.332199  0.541866   0.628629    0.960828
6    0.467610  0.850993   0.377558    0.845168
7    0.303299  0.096971   0.451031    0.754330
8    0.733485  0.591996   0.658924    1.392409
9    0.641628  0.251886   0.274987    0.916615
10   0.480767  0.370543   0.632653    1.113420
11   0.319906  0.489200   0.990319    1.310225
12   0.780267  0.458454   0.053428    0.833695
13   0.023112  0.456483   0.378360    0.401472
14   0.935875  0.698276   0.446885    1.382760
15   0.113171  0.585910   0.026875    0.140045
16   0.273193  0.300307   0.768270    1.041463
17   0.467060  0.225161   0.911570    1.378630
18   0.007302  0.005471   0.790344    0.797646
19   0.300589  0.455980   0.292225    0.592814
20   0.859970  0.346539   0.364629    1.224599
21   0.842364  0.093485   0.662066    1.504430
22   0.781693  0.573344   0.815692    1.597386
23  94.000000  0.945625  45.000000  139.000000

#### Tee DataFrame-objektin mittainen aikasarjadata haluamallasi aikavälillä ja tee siitä indeksisarake

In [40]:
timeserie = pd.date_range("1/1/2018", periods=24, freq="1W")
df.reindex(timeserie)

            sarake1  sarake2  sarake3  sarake4
2018-01-07      NaN      NaN      NaN      NaN
2018-01-14      NaN      NaN      NaN      NaN
2018-01-21      NaN      NaN      NaN      NaN
2018-01-28      NaN      NaN      NaN      NaN
2018-02-04      NaN      NaN      NaN      NaN
2018-02-11      NaN      NaN      NaN      NaN
2018-02-18      NaN      NaN      NaN      NaN
2018-02-25      NaN      NaN      NaN      NaN
2018-03-04      NaN      NaN      NaN      NaN
2018-03-11      NaN      NaN      NaN      NaN
2018-03-18      NaN      NaN      NaN      NaN
2018-03-25      NaN      NaN      NaN      NaN
2018-04-01      NaN      NaN      NaN      NaN
2018-04-08      NaN      NaN      NaN      NaN
2018-04-15      NaN      NaN      NaN      NaN
2018-04-22      NaN      NaN      NaN      NaN
2018-04-29      NaN      NaN      NaN      NaN
2018-05-06      NaN      NaN      NaN      NaN
2018-05-13      NaN      NaN      NaN      NaN
2018-05-20      NaN      NaN      NaN      NaN
2018-05-27      NaN      NaN      NaN      NaN
2018-06-03      NaN      NaN      NaN      NaN
2018-06-10      NaN      NaN      NaN      NaN
2018-06-17      NaN      NaN      NaN      NaN

#### Muuta `sarake1` kaikki arvot merkkijonoiksi, joissa jokainen nolla on korvattu isolla 'ND'-kirjainyhdistelmällä.

In [32]:
df['sarake1'] = df['sarake1'].replace('0', 'ND')
df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      sarake1   sarake2    sarake3     sarake4
0    0.922251  0.490721   0.133932    1.056182
1    0.073746  0.929162   0.962745    1.036491
2    0.363707  0.878349   0.485700    0.849407
3    0.106903  0.714651   0.039953    0.146856
4    0.196788  0.232740   0.879700    1.076488
5    0.332199  0.541866   0.628629    0.960828
6    0.467610  0.850993   0.377558    0.845168
7    0.303299  0.096971   0.451031    0.754330
8    0.733485  0.591996   0.658924    1.392409
9    0.641628  0.251886   0.274987    0.916615
10   0.480767  0.370543   0.632653    1.113420
11   0.319906  0.489200   0.990319    1.310225
12   0.780267  0.458454   0.053428    0.833695
13   0.023112  0.456483   0.378360    0.401472
14   0.935875  0.698276   0.446885    1.382760
15   0.113171  0.585910   0.026875    0.140045
16   0.273193  0.300307   0.768270    1.041463
17   0.467060  0.225161   0.911570    1.378630
18   0.007302  0.005471   0.790344    0.797646
19   0.300589  0.455980   0.292225    0.592814
20   0.859970  0.346539   0.364629    1.224599
21   0.842364  0.093485   0.662066    1.504430
22   0.781693  0.573344   0.815692    1.597386
23  94.000000  0.945625  45.000000  139.000000

#### Tee DataFrame-objektista kopio, jonka sarakkeiden nimet on muutettu seuraaviksi : `sarake5`, `sarake6`, `sarake7`, `sarake8`. Tämän jälkeen tee yksi iso DataFrame-objekti, joka koostuu alkuperäisestä DataFramesta sekä kopiosta niin, että ne on lisätty vierekkäin.


| sarake1        | sarake2           | sarake3  | sarake4 | sarake5      | sarake6 | sarake7 | sarake8 |
| ------------- |:-------------:| -----:| ------------- |:-------------:| -----:|-----:|-----:|
| 0.1      | 0.2 | 0.3 | ... | ...  | ... | ... | ... |

In [33]:
df_copy=df.copy()
df_copy.columns=("sarake5","sarake6","sarake7","sarake8")
df_copy

      sarake5   sarake6    sarake7     sarake8
0    0.922251  0.490721   0.133932    1.056182
1    0.073746  0.929162   0.962745    1.036491
2    0.363707  0.878349   0.485700    0.849407
3    0.106903  0.714651   0.039953    0.146856
4    0.196788  0.232740   0.879700    1.076488
5    0.332199  0.541866   0.628629    0.960828
6    0.467610  0.850993   0.377558    0.845168
7    0.303299  0.096971   0.451031    0.754330
8    0.733485  0.591996   0.658924    1.392409
9    0.641628  0.251886   0.274987    0.916615
10   0.480767  0.370543   0.632653    1.113420
11   0.319906  0.489200   0.990319    1.310225
12   0.780267  0.458454   0.053428    0.833695
13   0.023112  0.456483   0.378360    0.401472
14   0.935875  0.698276   0.446885    1.382760
15   0.113171  0.585910   0.026875    0.140045
16   0.273193  0.300307   0.768270    1.041463
17   0.467060  0.225161   0.911570    1.378630
18   0.007302  0.005471   0.790344    0.797646
19   0.300589  0.455980   0.292225    0.592814
20   0.859970  0.346539   0.364629    1.224599
21   0.842364  0.093485   0.662066    1.504430
22   0.781693  0.573344   0.815692    1.597386
23  94.000000  0.945625  45.000000  139.000000

In [34]:
df2=pd.concat([df, df_copy], axis=1)
df2

,sarake1,sarake2,sarake3,sarake4,sarake5,sarake6,sarake7,sarake8
0,0.922251,0.490721,0.133932,1.056182,0.922251,0.490721,0.133932,1.056182
1,0.073746,0.929162,0.962745,1.036491,0.073746,0.929162,0.962745,1.036491
2,0.363707,0.878349,0.485700,0.849407,0.363707,0.878349,0.485700,0.849407
3,0.106903,0.714651,0.039953,0.146856,0.106903,0.714651,0.039953,0.146856
4,0.196788,0.232740,0.879700,1.076488,0.196788,0.232740,0.879700,1.076488
5,0.332199,0.541866,0.628629,0.960828,0.332199,0.541866,0.628629,0.960828
6,0.467610,0.850993,0.377558,0.845168,0.467610,0.850993,0.377558,0.845168
7,0.303299,0.096971,0.451031,0.754330,0.303299,0.096971,0.451031,0.754330
8,0.733485,0.591996,0.658924,1.392409,0.733485,0.591996,0.658924,1.392409
9,0.641628,0.251886,0.274987,0.916615,0.641628,0.251886,0.274987,0.916615
10,0.480767,0.370543,0.632653,1.113420,0.480767,0.370543,0.632653,1.113420
11,0.319906,0.489200,0.990319,1.310225,0.319906,0.489200,0.990319,1.310225
12,0.780267,0.458454,0.053428,0.833695,0.780267,0.458454,0.053428,0.833695
13,0.023112,0.456483,0.378360,0.401472,0.023112,0.456483,0.378360,0.401472
14,0.935875,0.698276,0.446885,1.382760,0.935875,0.698276,0.446885,1.382760
15,0.113171,0.585910,0.026875,0.140045,0.113171,0.585910,0.026875,0.140045
16,0.273193,0.300307,0.768270,1.041463,0.273193,0.300307,0.768270,1.041463
17,0.467060,0.225161,0.911570,1.378630,0.467060,0.225161,0.911570,1.378630
18,0.007302,0.005471,0.790344,0.797646,0.007302,0.005471,0.790344,0.797646
19,0.300589,0.455980,0.292225,0.592814,0.300589,0.455980,0.292225,0.592814
20,0.859970,0.346539,0.364629,1.224599,0.859970,0.346539,0.364629,1.224599
21,0.842364,0.093485,0.662066,1.504430,0.842364,0.093485,0.662066,1.504430
22,0.781693,0.573344,0.815692,1.597386,0.781693,0.573344,0.815692,1.597386
23,94.000000,0.945625,45.000000,139.000000,94.000000,0.945625,45.000000,139.000000

Sijoita `sarake5`:n viimeinen arvo muuttujaan sekä `sarake3`:n viimeinen arvo erilliseen muuttujaan juuri tehdystä DataFrame-objektista merkkijonomuodossa. Summaa kyseiset muuttujat merkkijonona sekä poista kaksi viimeistä merkkiä lopputuloksesta. Lopuksi poista kaikki pisteet `.`.

In [ ]:
x =str(df2.iloc[23,5])+str(df2.iloc[23,3])
x