## Pandas-tehtävät

#### Huom: Koko harjoituksen ajan on tarkoitus käsitellä alkuperäistä dataframea!

#### Lisää tarvittavat kirjastot ja lue `testidata.csv` niminen tiedosto DataFrame-objektiin

In [2]:
import pandas as pd
DataFrame=pd.read_csv("/Users/kayttaja/Desktop/JAMK/harjoitukset/testidata.csv")

#### Tulosta DataFrame-objektin viisi viimeistä riviä

In [3]:
DataFrame.tail()

    Unnamed: 0   sarake1   sarake2   sarake3
20          20  0.300589  0.455980  0.292225
21          21  0.859970  0.346539  0.364629
22          22  0.842364  0.093485  0.662066
23          23  0.781693  0.573344  0.815692
24          24  0.788949  0.945625  0.852690

#### Tulosta datan sarakkeiden otsikot list-objektina

In [4]:
columns=list(DataFrame)
columns

['Unnamed: 0', 'sarake1', 'sarake2', 'sarake3']

#### Tulosta `sarake2`:n pituus

In [5]:
DataFrame["sarake2"].size

25

#### Tulosta datan ensimmäinen rivin tiedot

In [6]:
DataFrame[0:1]

   Unnamed: 0   sarake1   sarake2   sarake3
0           0  0.319219  0.380058  0.919389

#### Pudota datasta  `Unnamed: 0` niminen sarake ja todenna lopputulos valitsemallasi tavalla

In [7]:
DataFrame.drop("Unnamed: 0",axis=1)

     sarake1   sarake2   sarake3
0   0.319219  0.380058  0.919389
1   0.922251  0.490721  0.133932
2   0.073746  0.929162  0.962745
3   0.363707  0.878349  0.485700
4   0.106903  0.714651  0.039953
5   0.196788  0.232740  0.879700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8   0.303299  0.096971  0.451031
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
11  0.154682  0.504352  0.557231
12  0.319906  0.489200  0.990319
13  0.780267  0.458454  0.053428
14  0.023112  0.456483  0.378360
15  0.935875  0.698276  0.446885
16  0.113171  0.585910  0.026875
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
19  0.007302  0.005471  0.790344
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Poista rivit, jos sarakkeessa `sarake1` esiintyy arvo 0.2 tai pienempi

In [8]:
df = DataFrame.loc[DataFrame['sarake1'] <= 0.2]
df

    Unnamed: 0   sarake1   sarake2   sarake3
2            2  0.073746  0.929162  0.962745
4            4  0.106903  0.714651  0.039953
5            5  0.196788  0.232740  0.879700
11          11  0.154682  0.504352  0.557231
14          14  0.023112  0.456483  0.378360
16          16  0.113171  0.585910  0.026875
19          19  0.007302  0.005471  0.790344

#### Tulosta `sarake1` sarakkeen minimi- ja maksimiarvo

In [9]:
DataFrame["sarake1"].min()

0.00730163662796035

In [10]:
DataFrame["sarake1"].max()

0.9358745961778226

#### Tee ensimmäisen rivin ensimmäisen sarakkeen arvosta nan

In [11]:
import numpy as np
DataFrame.iloc[0,0]=np.nan
DataFrame

    Unnamed: 0   sarake1   sarake2   sarake3
0          NaN  0.319219  0.380058  0.919389
1          1.0  0.922251  0.490721  0.133932
2          2.0  0.073746  0.929162  0.962745
3          3.0  0.363707  0.878349  0.485700
4          4.0  0.106903  0.714651  0.039953
5          5.0  0.196788  0.232740  0.879700
6          6.0  0.323134  0.036466  0.186775
7          7.0  0.467610  0.850993  0.377558
8          8.0  0.303299  0.096971  0.451031
9          9.0  0.733485  0.591996  0.658924
10        10.0  0.641628  0.251886  0.274987
11        11.0  0.154682  0.504352  0.557231
12        12.0  0.319906  0.489200  0.990319
13        13.0  0.780267  0.458454  0.053428
14        14.0  0.023112  0.456483  0.378360
15        15.0  0.935875  0.698276  0.446885
16        16.0  0.113171  0.585910  0.026875
17        17.0  0.273193  0.300307  0.768270
18        18.0  0.467060  0.225161  0.911570
19        19.0  0.007302  0.005471  0.790344
20        20.0  0.300589  0.455980  0.292225
21        21.0  0.859970  0.346539  0.364629
22        22.0  0.842364  0.093485  0.662066
23        23.0  0.781693  0.573344  0.815692
24        24.0  0.788949  0.945625  0.852690

#### Tallenna lopputulos data_export.csv-nimiseen tiedostoon (tiedostoa hyödynnetään seuraavassa harjoituksessa).

In [12]:
DataFrame.to_csv("data_export.csv", index=False)